$tablet: "(min-width: 768px)";
$desktopMed: "(min-width: 992px)";
$desktopLg: "(min-width: 1200px)";

@media only screen and (max-width: 2160px) {
    .banner-container {
        padding-top: 0px;
    }
}
@media only screen and (max-width: 1199px) {
    .banner-container {
        padding-top: 50px;
    }
}
@media only screen and (max-width: 991px) {
    .banner-container {
        padding-top: 100px;
    }
}
@media only screen and (max-width: 767px) {
    .banner-container {
        padding-top: 23px;
    }
}