#content-list-container {
    height: auto;
    width: auto;
    background-color: white;
    text-align: center;
}

#inbox-item-container {
    background-color: white;
    text-align:center;
}

.fade.in{
  display:block;
}

.fade{
  display:none;
}