#menuBG {
	width:600px;
	height:470px;
	margin:10px auto;
}

#menuBG > h1 {
	text-align: center;
}

#frmMenu {
	width:400px;
	height:200px;
	position: relative;
	left:70px;
}
		
#totalPrice {
	width:200px;
	height:190px;
	margin:0 auto;
	float:right;
}

.left {
	width:200px;
	height:200px;
	position:relative;
}

.middle {
	width:200px;
	height:200px;
	position:relative;
	left:200px;
	bottom:220px;
	
}

.right {
	width:200px;
	height:200px;
	position:relative;
	left:400px;
	bottom:440px;
}

.bottom_left {
	width:200px;
	height:200px;
	position:relative;
	bottom:440px;
}

.bottom_middle {
	width:200px;
	height:200px;
	position:relative;
	left: 200px;
	bottom:660px;
}

.bottom_right {	
	width:200px;
	height:200px;
	position:relative;
	left: 400px;
	bottom:880px;
}

#showText {
	width:200px;
	height:190px;
	margin:0px auto;
	float:left;
}

#cart {
	top:0;
	margin:0px auto;
	width:400px;
	height:200px;
}

#btnOrder {
	margin:10px 0px 0px 100px;
	width:100px;
	height:40px;
	position: relative;
	left: 150px;
}