@model Bewander.Models.User

<div class="row" id="chat-tabs-container">
    <!--Chat: Conversation Classes-->
    <div class="chat-convo-container">
        <div class="chat-convo-header">
                <h4 class="name-header">Jordan Real</h4>
                <i class="fa fa-close close-icon"></i>
            </div>
            <ul class="conversation"></ul>
            @Html.Editor("chat-user-input", new { htmlAttributes = new { @class = "chat-user-input", placeholder = "Message..." } })

    </div>
</div>


















<div id="chat-container">
    <i id="chat-list-chevron-right" class="fa fa-chevron-right fa-2x" onclick="HideChatList(this)"></i>
    <i id="chat-list-chevron-left" class="fa fa-chevron-left fa-2x" onclick="ShowChatList(this)"></i>
    <div id="chat-user-list-container">
        <ul id="chat-user-list"></ul>
    </div>
</div>


@if (Request.IsAuthenticated)
{

<!--Toogle Chat-->
<script>
    function ToggleChatConvo(id) {
        var element = document.getElementById(id);
        var id = element.getAttribute("id");
        element.style.display = "none";

        var tab = document.getElementById("tab-" + id);
        tab.style.display = "block";
    }

    function ShowChatConvo(id) {
        var chatConvoContainer = document.getElementById(id);
        chatConvoContainer.style.display = "block";

        var tab = document.getElementById("tab-" + id);
        tab.style.display = "none";
    }
</script>

<script>
$(function () {
    // Declare a proxy to reference the hub.
    var AppHub = $.connection.AppHub;
    var userID = "@Model.UserID";

    // Start the connection.
    $.connection.hub.start().done(function () {
        // Connection has started
        $('#hub-test').append('<h4>Chat connection established.</h4>');
        // Add user to userConnLookupTable
        AppHub.server.registerConn(userID);

    });

    //Display list of current users received from the hub
    AppHub.client.displayListOfConnected = function (connectedUsers) {
        $('#chat-user-list').empty();

        for (var i = 0; i < connectedUsers.length; i++) {
            $('#chat-user-list').append('<li onclick="SelectUser(this, \'0\')" id="'+ connectedUsers[i].ConnectionID +'"> ' + connectedUsers[i].FirstName + " " + connectedUsers[i].LastName + '</li>');
        }
    };

    window.setInterval(RefreshList, 2000);

    function RefreshList() {
        AppHub.server.registerConn(userID);
        AppHub.server.sendListOfConnected(userID);       
    }

});

    // Hide Chat
    function HideChatList(icon) {
        var chatList = document.getElementById("chat-container");
        var chevLeft = document.getElementById("chat-list-chevron-left");
        icon.style.display = "none";
        chevLeft.style.display = "block";
        TweenLite.to(chatList, .4, { right: "-244px" });
    }

    // Show Chat
    function ShowChatList(icon) {
        var chatList = document.getElementById("chat-container");
        var chevRight = document.getElementById("chat-list-chevron-right");
        icon.style.display = "none";
        chevRight.style.display = "block";
        TweenLite.to(chatList, .4, { right: "0" });
    }

</script>
}

<!--Select User from List-->
<script>
    function SelectUser(listItem) {

    }

    function RemoveElement(id) {
        var elem = document.getElementById(id);
        elem.parentNode.removeChild(elem);
    }
</script>